html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/static/teste.jpg");
  background-size: cover;               
  background-repeat: no-repeat;         
  background-position: top center;      
  background-attachment: fixed;         
  color: #003366;
}

.container {
  flex: 1;
  padding: 30px 70px;
  max-width: 900px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.container h2 {
  margin-top: 0;
  color: #003366;
  text-align: center;
}

.container p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}

.container .botao-nav {
  display: inline-block;
  align-self: flex-start;
  margin-top: 15px;
}

.container .botao-nav {
  display: inline-block;
  margin: 15px auto 0 auto;
}


a {
    color: var(--primary-color);
}

header {
  background-color: #003366;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  text-align: center;
}

header {
    background:  #003366;
    backdrop-filter: blur(10px);
    padding: 2px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--card-bg);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px 10px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 140px;
  width: auto;
  padding: -0.5ch;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

nav ul li a {
    font-size: 1.1rem;
    color: white;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

span{
  color: #b30101;
}

.hero {
    text-align: center; 
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.hero h1 {
  font-size: 2.1rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    color: var(--text-muted);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #003366;
  color: white;
}
.botao-nav {
  color: #ba0000;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.botao-nav:hover {
  background-color: #ba0000;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.botao-log {
  background-color: #003366;
  color: #fff;
  border: none;
  padding: 10px 32px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin-left: 10px;
   border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.botao-log:hover {
  background-color: #ff0000a7;
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}



footer {
  margin-top: 30px;
  padding: 10px;
  background-color:  #003366;
  text-align: center;
  font-size: 14px;
  color: white;
}

@media (max-width: 808px) {
 
  nav {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .nav-left {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .logo {
    height: 75px;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
    padding: 0;
    width: 100%;
    align-items: center;
  }

  nav ul li {
    width: 90%;
    text-align: center;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #004080;
    border-radius: 5px;
    color: white;
  }

 
  .hero h1 {
    font-size: 1.5rem;
    padding: 0 10px;
  }

 
  .container {
    padding: 50px 10px;
    margin: 5px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: none;
    text-align: center; 
  }


  table, th, td {
    font-size: 14px;
    word-wrap: break-word;
  }

  footer {
    font-size: 12px;
  }
}
