<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Painel de Ordens de Serviço</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='Logo_2025_(branco)_bold-1.png') }}">
</head>
<body>
  <header>
        <nav>
          <div class="nav-left">
            <img src="{{ url_for('static', filename='Logo_2025.png') }}" alt="Logo MBM" class="logo">
        </div>
            <ul>
                <li><a href="/login" style="text-decoration: none;" class="botao-log">Login Técnico</a></li>
            </ul>
        </nav>
        <div class="hero">
            <h1><span>Bem-vindo ao Portal</span> de Chamados T.I MBM</h1>
        </div>
    </header>
  <div class="container">
  {% if ordem %}
    <h2>Detalhes da sua OS</h2>
    <p><strong>Solicitante:</strong> {{ ordem.solicitante }}</p>
    <p><strong>Setor:</strong> {{ ordem.setor }}</p>
    <p><strong>Tipo:</strong> {{ ordem.tipo_servico }}</p>
    <p><strong>Descrição:</strong> {{ ordem.descricao }}</p>
    <p><strong>Status:</strong> {{ ordem.status }}</p>
    <p><strong>Token:</strong> {{ ordem.token }}</p>
  {% else %}
    <p>BEM-VINDO! NÃO HÁ NENHUMA OS PARA EXIBIR NO MOMENTO</p>
  {% endif %}
  
  <a href="{{ url_for('nova_os') }}" class="botao-nav nova">
    <i class="fas fa-plus-circle"></i>Abrir nova OS</a>
</div>
  <footer>MBM Copy - Sistema de OS</footer>
</body>
</html>
