<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Login Técnico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='Logo_2025_(branco)_bold-1.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>Login Técnico</h1>
    <nav>
      <a href="/" class="botao-log" style="text-decoration: none;">HOME</a> |
      <a href="/nova-os" class="botao-log" style="text-decoration: none;">ABRIR OS</a>
    </nav>
  </header>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: red;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
      <label for="usuario">Usuário:</label>
      <input type="text" id="usuario" name="usuario" required />

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required />
      <p id="capsAviso" style="color:red; font-size:0.7em; display:none; ">*Caps Lock está ativado!</p>

      <input type="submit" value="Entrar" />
    </form>
  </div>
  <footer>MBM Copy - Sistema de OS</footer>

  <script>
    document.getElementById('senha').addEventListener('keyup', function(event) {
      const capsLockOn = event.getModifierState && event.getModifierState('CapsLock');
      const aviso = document.getElementById('capsAviso');
      aviso.style.display = capsLockOn ? 'block' : 'none';
    });
  </script>
</body>
</html>
